# INEGI Data Base

## Dependecies

In [156]:
import pandas as pd
from sqlalchemy import create_engine

## Store CSV´s into DataFrame - Extract

In [157]:
sniiv_file = "../Resources/sniiv.csv"
sniiv_df = pd.read_csv(sniiv_file, encoding='latin-1')
sniiv_df.head()

,Año,Mes acumulado,Clave Entidad INEGI,Entidad Federativa,Clave Municipio INEGI,Municipio,Organismo,Modalidad,Destino del Credito,Tipo de Credito,Genero,Rango de Edad,Rango de Ingresos UMA,Valor de la Vivienda,Acciones,Monto
0,2020,1,17,Morelos,18,Temixco,BANCA (CNBV),Mejoramientos,Mejoramientos,Credito individual,Hombre,29 o menos,2.6 o menos,Económica,1,"17,209.00"
1,2020,1,4,Campeche,3,Carmen,BANCA (CNBV),Mejoramientos,Mejoramientos,Credito individual,Hombre,30 a 59,4.01 a 6.00,Económica,3,"158,963.00"
2,2020,1,9,Ciudad de México,2,Azcapotzalco,BANCA (CNBV),Mejoramientos,Mejoramientos,Credito individual,Hombre,29 o menos,2.6 o menos,Económica,1,"19,516.00"
3,2020,1,13,Hidalgo,51,Mineral de la Reforma,BANCA (CNBV),Mejoramientos,Mejoramientos,Credito individual,Hombre,30 a 59,4.01 a 6.00,Económica,1,"57,534.00"
4,2020,1,2,Baja California,4,Tijuana,BANCA (CNBV),Mejoramientos,Mejoramientos,Credito individual,Mujer,30 a 59,2.61 a 4.00,Económica,7,"340,331.00"

In [158]:
inegi_file = "../Resources/inegi.csv"
inegi_df = pd.read_csv(inegi_file)
inegi_df.head()

C:\Users\Juan Cortez\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,TAMLOC
0,0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,NaN,126014024,...,30775898,18307193,15211306,6616141,4047100,1788552,3170894,15108204,852871,*
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,NaN,250354,...,47005,8385,18981,1732,1113,12775,14143,51293,7154,*
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,NaN,147125,...,25581,5027,11306,971,708,8247,10065,29741,5283,*
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1425607,...,359895,236003,174089,98724,70126,6021,15323,128996,1711,*
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3697,...,732,205,212,48,41,39,62,530,20,*

# INEGI DataFrame - Transform

In [159]:
# Select certain columns
new_inegi_df = inegi_df[['ENTIDAD', 'NOM_ENT', 'MUN', 'NOM_MUN', 'LOC', 'NOM_LOC', 'POBTOT', 'POBFEM', 'POBMAS', 'P_60YMAS', 'PEA', 'PEA_F', 'PEA_M',\
                        'POCUPADA', 'POCUPADA_F', 'POCUPADA_M', 'TOTHOG', 'HOGJEF_F', 'HOGJEF_M', 'VIVTOT', 'TVIVHAB',\
                       'PROM_OCUP', 'PRO_OCUP_C']].copy()
new_inegi_df.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,POBTOT,POBFEM,POBMAS,P_60YMAS,...,POCUPADA,POCUPADA_F,POCUPADA_M,TOTHOG,HOGJEF_F,HOGJEF_M,VIVTOT,TVIVHAB,PROM_OCUP,PRO_OCUP_C
0,0,Total nacional,0,Total nacional,0,Total nacional,126014024,64540634,61473390,15142976,...,61121324,25137019,35984305,35219141,11474983,23744158,43903443,35233462,3.56,0.96
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,250354,96869,153485,37383,...,127469,32906,94563,62516,8292,54224,101390,62767,3.18,1.03
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,147125,61324,85801,21277,...,68215,18365,49850,36568,6620,29948,61435,36676,3.42,1.03
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,1425607,728924,696683,145376,...,692983,289268,403715,386445,119453,266992,463972,386671,3.68,0.89
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,3697,1510,2187,448,...,2060,497,1563,807,123,684,1368,813,3.89,1.02

In [160]:
# Creating a pandas dataframe
new_inegi_df = pd.DataFrame(data=new_inegi_df)

In [161]:
# Check what type are each variable
new_inegi_df.dtypes

ENTIDAD        int64
NOM_ENT       object
MUN            int64
NOM_MUN       object
LOC            int64
NOM_LOC       object
POBTOT         int64
POBFEM        object
POBMAS        object
P_60YMAS      object
PEA           object
PEA_F         object
PEA_M         object
POCUPADA      object
POCUPADA_F    object
POCUPADA_M    object
TOTHOG        object
HOGJEF_F      object
HOGJEF_M      object
VIVTOT         int64
TVIVHAB        int64
PROM_OCUP     object
PRO_OCUP_C    object
dtype: object

In [162]:
# Drop national totals and state totals rows
new_inegi_df = new_inegi_df[new_inegi_df['LOC'] == 0]
new_inegi_df = new_inegi_df[new_inegi_df['MUN'] != 0]
new_inegi_df.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,POBTOT,POBFEM,POBMAS,P_60YMAS,...,POCUPADA,POCUPADA_F,POCUPADA_M,TOTHOG,HOGJEF_F,HOGJEF_M,VIVTOT,TVIVHAB,PROM_OCUP,PRO_OCUP_C
6,1,Aguascalientes,1,Aguascalientes,0,Total del Municipio,948990,486917,462073,102987,...,476502,205402,271100,266778,85732,181046,313256,266942,3.54,0.84
574,1,Aguascalientes,2,Asientos,0,Total del Municipio,51536,26275,25261,4697,...,21014,7069,13945,12542,3191,9351,15353,12544,4.1,1.07
749,1,Aguascalientes,3,Calvillo,0,Total del Municipio,58250,29687,28563,7829,...,25597,9342,16255,15546,5008,10538,20842,15556,3.74,0.97
918,1,Aguascalientes,4,Cosío,0,Total del Municipio,17000,8708,8292,1613,...,6883,2401,4482,3937,889,3048,4845,3938,4.32,1.14
985,1,Aguascalientes,5,Jesús María,0,Total del Municipio,129929,65710,64219,9815,...,64945,27147,37798,33214,9029,24185,41550,33229,3.91,0.95

In [163]:
# Checking right dataframe filter
new_inegi_df['POBTOT'].sum()

126014024

In [164]:
# Adding new ID

# Convert claves to string to be able to concatenate
new_inegi_df['ENTIDAD'] = new_inegi_df['ENTIDAD'].astype(str)
new_inegi_df['MUN'] = new_inegi_df['MUN'].astype(str)

# Making a copy of clave entidad municipio to be able to concatenate
new = new_inegi_df['MUN'].copy()

# Concatenating clave Entidad & MUN
new_inegi_df['ENTIDAD'] = new_inegi_df['ENTIDAD'].str.cat(new, sep="-")

new_inegi_df.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,POBTOT,POBFEM,POBMAS,P_60YMAS,...,POCUPADA,POCUPADA_F,POCUPADA_M,TOTHOG,HOGJEF_F,HOGJEF_M,VIVTOT,TVIVHAB,PROM_OCUP,PRO_OCUP_C
6,1-1,Aguascalientes,1,Aguascalientes,0,Total del Municipio,948990,486917,462073,102987,...,476502,205402,271100,266778,85732,181046,313256,266942,3.54,0.84
574,1-2,Aguascalientes,2,Asientos,0,Total del Municipio,51536,26275,25261,4697,...,21014,7069,13945,12542,3191,9351,15353,12544,4.1,1.07
749,1-3,Aguascalientes,3,Calvillo,0,Total del Municipio,58250,29687,28563,7829,...,25597,9342,16255,15546,5008,10538,20842,15556,3.74,0.97
918,1-4,Aguascalientes,4,Cosío,0,Total del Municipio,17000,8708,8292,1613,...,6883,2401,4482,3937,889,3048,4845,3938,4.32,1.14
985,1-5,Aguascalientes,5,Jesús María,0,Total del Municipio,129929,65710,64219,9815,...,64945,27147,37798,33214,9029,24185,41550,33229,3.91,0.95

In [165]:
# Converting columns to integer to be able to run calculations
new_inegi_df['POBTOT'] = new_inegi_df['POBTOT'].astype(int)
new_inegi_df['POBFEM'] = new_inegi_df['POBFEM'].astype(int)
new_inegi_df['POBMAS'] = new_inegi_df['POBMAS'].astype(int)
new_inegi_df['PEA'] = new_inegi_df['PEA'].astype(int)
new_inegi_df['PEA_F'] = new_inegi_df['PEA'].astype(int)
new_inegi_df['PEA_M'] = new_inegi_df['POCUPADA_F'].astype(int)
new_inegi_df['POCUPADA'] = new_inegi_df['POCUPADA_M'].astype(int)
new_inegi_df['POCUPADA_F'] = new_inegi_df['POCUPADA_M'].astype(int)
new_inegi_df['POCUPADA_M'] = new_inegi_df['POCUPADA_M'].astype(int)
new_inegi_df['TOTHOG'] = new_inegi_df['TOTHOG'].astype(int)
new_inegi_df['HOGJEF_F'] = new_inegi_df['HOGJEF_F'].astype(int)
new_inegi_df['HOGJEF_M'] = new_inegi_df['HOGJEF_M'].astype(int)
new_inegi_df['VIVTOT'] = new_inegi_df['VIVTOT'].astype(int)
new_inegi_df['TVIVHAB'] = new_inegi_df['TVIVHAB'].astype(int)
new_inegi_df['PROM_OCUP'] = new_inegi_df['PROM_OCUP'].astype(float)
new_inegi_df['PRO_OCUP_C'] = new_inegi_df['PRO_OCUP_C'].astype(float)

new_inegi_df.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,POBTOT,POBFEM,POBMAS,P_60YMAS,...,POCUPADA,POCUPADA_F,POCUPADA_M,TOTHOG,HOGJEF_F,HOGJEF_M,VIVTOT,TVIVHAB,PROM_OCUP,PRO_OCUP_C
6,1-1,Aguascalientes,1,Aguascalientes,0,Total del Municipio,948990,486917,462073,102987,...,271100,271100,271100,266778,85732,181046,313256,266942,3.54,0.84
574,1-2,Aguascalientes,2,Asientos,0,Total del Municipio,51536,26275,25261,4697,...,13945,13945,13945,12542,3191,9351,15353,12544,4.10,1.07
749,1-3,Aguascalientes,3,Calvillo,0,Total del Municipio,58250,29687,28563,7829,...,16255,16255,16255,15546,5008,10538,20842,15556,3.74,0.97
918,1-4,Aguascalientes,4,Cosío,0,Total del Municipio,17000,8708,8292,1613,...,4482,4482,4482,3937,889,3048,4845,3938,4.32,1.14
985,1-5,Aguascalientes,5,Jesús María,0,Total del Municipio,129929,65710,64219,9815,...,37798,37798,37798,33214,9029,24185,41550,33229,3.91,0.95

In [166]:
# Check what type are each variable
new_inegi_df.dtypes

ENTIDAD        object
NOM_ENT        object
MUN            object
NOM_MUN        object
LOC             int64
NOM_LOC        object
POBTOT          int32
POBFEM          int32
POBMAS          int32
P_60YMAS       object
PEA             int32
PEA_F           int32
PEA_M           int32
POCUPADA        int32
POCUPADA_F      int32
POCUPADA_M      int32
TOTHOG          int32
HOGJEF_F        int32
HOGJEF_M        int32
VIVTOT          int32
TVIVHAB         int32
PROM_OCUP     float64
PRO_OCUP_C    float64
dtype: object

In [167]:
end_inegi_df = new_inegi_df[['ENTIDAD', 'NOM_ENT', 'NOM_MUN', 'POBTOT', 'POBFEM', 'POBMAS', 'P_60YMAS']].copy()
end_inegi_df = end_inegi_df.rename(columns = {'ENTIDAD':'ID','NOM_ENT':'Entidad_Fed', 'NOM_MUN':'Municipio', 'POBTOT': 'Pob_Total',\
                                             'POBFEM':'Pob_Fem', 'POBMAS':'Pob_Mas', 'P_60YMAS':'Edad_Mayor60'}, inplace= False)
end_inegi_df = end_inegi_df.reset_index(drop=True)
end_inegi_df.head( )

,ID,Entidad_Fed,Municipio,Pob_Total,Pob_Fem,Pob_Mas,Edad_Mayor60
0,1-1,Aguascalientes,Aguascalientes,948990,486917,462073,102987
1,1-2,Aguascalientes,Asientos,51536,26275,25261,4697
2,1-3,Aguascalientes,Calvillo,58250,29687,28563,7829
3,1-4,Aguascalientes,Cosío,17000,8708,8292,1613
4,1-5,Aguascalientes,Jesús María,129929,65710,64219,9815